body {
    height: 1000%;
    margin: 0;
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
}

.containers {
    display: flex;
    flex: 1;    
}

.container1 {
    padding: 130px 90px 130px;  /* Alterado aqui */
    background-color: #1f2937;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 90px 90px;  /* Alterado aqui */
    background-color: white;
}

.container3 {
    background-color: #e5e7eb;
    padding: 0 90px 90px;  /* Alterado aqui */

}

.container4 {
    background-color: white;
    padding: 130px 90px 90px;  /* Alterado aqui */

}

footer {
    padding: 30px;
    height: 0.4vh;
    background-color: #1f2937;
}

header {
    background-color: #1f2937;
    display: flex;
    width: 60%;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    text-decoration: none;
}

strong {
    color: white;
    font-size: 30px;
}

.content {
    display: flex;
    width: 100%;
    height: 3vh;
    color: white;
    align-items: center;
    flex-direction: row;
    margin-left: 100px;
    gap: 170px;
}

.signUp1 {
    border-radius: 7px;
    color: white;
    background-color: #3882f6;
    font-size: 14px;
    border: 0;
    padding: 12px;
    width: 100px;
}

.imgHolder {
    background-color: white;
    color: black;
    padding: 90px;
    width: 250px;
    text-align: center;
}

.tdImg {
    display: flex;
    border: 4px solid #3882f6;
    border-radius: 20px;
    padding: 30px;
    padding-top: 130px;
    flex-direction: row;
    width: 60%;
    margin: 0px;
}

.imgcontent {
    width: 1000px;
    margin-top: 2px;
    top: 0;
}

td, p {
    margin: 0;
    color: #1f2937;
}

table {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
    margin-left: 90px;
    border-collapse:separate;
}

.textContent2 {
    font-size: 40px;
    text-align: center;
    margin-left: 0;  /* Alterado aqui */
    width: 100%;
    margin-bottom: 20px;
}

.content3 h3 {
    color: balck;
    text-align: right;
    margin-right: 60px;
}

.content3 h1 {
    color: #1f2937;
    font-weight: 100;
    font-size: 30px;
}

.content4 {
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 30px;
    padding-top: 60px;
    width: 100%;
    flex-direction: column;   

}

span {
    display: flex;
    justify-content: right;
}

.signUp2{
}

